<footer>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h3>About Us</h3>
                <p>The world's best bras. The sexiest lingerie. The most beautiful Supermodels. Discover what's hot now - from beauty & sleepwear to fashion & swim.</p>
                <p>Address: Van Duc, Gia Lam, Hanoi</p>
                <p>Email: tiennguyen.k52@ftu.edu.vn</p>
                <p>Phone: 0983603428</p>
            </div>
            <div class="col-md-4">
                <h3>Follow Us</h3>
                <p>
                    <a href="#facebook"><img src="/img/social/facebook.png" alt="Facebook"></a>
                    <a href="#twitter"><img src="/img/social/twitter.png" alt="Twitter"></a>
                    <a href="#google-plus"><img src="/img/social/google-plus.png" alt="Google Plus"></a>
                    <a href="#pinterest"><img src="/img/social/pinterest.png" alt="Pinterest"></a>
                </p>
                <h3>We Accept</h3>
                <p>
                    <img src="/img/payment/paypal.png" alt="Paypal">
                    <img src="/img/payment/visa.png" alt="Visa">
                    <img src="/img/payment/mastercard.png" alt="Master Card">
                </p>
            </div>
            <div class="col-md-4">
                <form action="">
                    <h3>Newsletter</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter your email to subscribe*">
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>