<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="/categories/bras-&-bralettes" class="btn btn-info">Bras & Bralettes</a></li>
            <li role="presentation"><a href="/categories/panties" class="btn btn-info">Panties</a></li>
            <li role="presentation"><a href="/categories/lingerie" class="btn btn-info">Lingerie</a></li>
            <li role="presentation"><a href="/categories/sleep" class="btn btn-info">Sleep</a></li>
            <li role="presentation"><a href="/categories/beauty" class="btn btn-info">Beauty</a></li>
            <li role="presentation"><a href="/categories/swim" class="btn btn-info">Swim</a></li>
            <li role="presentation"><a href="/categories/sport" class="btn btn-info">Sport</a></li>
            <li role="presentation"><a href="/categories/lounge-&-shoes" class="btn btn-info">Lounge</a></li>
        </ul>
    </div>
</div>

<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-xs-6">-->
            <!--<div class="row">-->
                <!--<div class="col-xs-3">-->
                    <!--<a href="/categories/bras-&-bralettes" class="btn btn-info btn-round btn-menu">Bras & Bralettes</a>-->
                <!--</div>-->
                <!--<div class="col-xs-3">-->
                    <!--<a href="/categories/panties" class="btn btn-info btn-round btn-menu">Panties</a>-->
                <!--</div>-->
                <!--<div class="col-xs-3">-->
                    <!--<a href="/categories/lingerie" class="btn btn-info btn-round btn-menu">Lingerie</a>-->
                <!--</div>-->
                <!--<div class="col-xs-3">-->
                    <!--<a href="/categories/sleep" class="btn btn-info btn-round">Sleep</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-6">-->
            <!--<div class="row">-->
                <!--<div class="col-xs-3">-->
                    <!--<a href="/categories/beauty" class="btn btn-info btn-round">Beauty</a>-->
                <!--</div>-->
                <!--<div class="col-xs-3">-->
                    <!--<a href="/categories/swim" class="btn btn-info btn-round">Swim</a>-->
                <!--</div>-->
                <!--<div class="col-xs-3">-->
                    <!--<a href="/categories/sport" class="btn btn-info btn-round">Sport</a>-->
                <!--</div>-->
                <!--<div class="col-xs-3">-->
                    <!--<a href="/categories/lounge" class="btn btn-info btn-round">Lounge</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


