body {
  font: 16px "Lato", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #f5f5f5;
  font-weight: 300;
}

a {
  color: #00B7FF;
}

#home-jumbotron {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/victoria-background.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/victoria-background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;

  line-height: 1.7;
  color: #f5f5f5;
}

#products-jumbotron {
  background-color: #b73acc;
  color: #fff;
}

form {
  padding-bottom: 50px;
}

.form-group label {
  color: black;
}

.form-group input[type="file"] {
  color: black;
  opacity: 100;
  position: relative;
}

.retail-price {
  text-decoration: line-through;
  font-size: 1.7em;
}

.sale-price {
  color: red;
  font-size: 1.7em;
}

#retail {
  font-size: 1.7em;
}

#sku {
  float: right;
}
