<div class="jumbotron">
    <div class="container">
        <div class="text-center">
            <h1>FREE TRAVEL TOTE WITH $85 USD PURCHASE</h1>
            <p>Comes with matching pouch! A $99 Value. Excludes Clearance. Code VS85TOTE. Limited time offer!</p>
            <p>
                <a class="btn btn-primary btn-lg btn-round btn-danger" href="#" role="button">Details</a>
                <a class="btn btn-primary btn-lg btn-round" href="#" role="button">View Catalogue</a>
            </p>
        </div>
    </div>
</div>

<section>
    {{>categories}}
</section>