<section>
    <div class="jumbotron" id="home-jumbotron">
        <div class="container">
            <div class="text-center">
                <h1>FREE TRAVEL TOTE WITH $85 USD PURCHASE</h1>
                <p>Comes with matching pouch! A $99 Value. Excludes Clearance. Code VS85TOTE. Limited time offer!</p>
                <p>
                    <a class="btn btn-primary btn-lg btn-round btn-success" href="/sales" role="button">Sales</a>
                    <a class="btn btn-primary btn-lg btn-round" href="/products" role="button">Go to Shop</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    {{>shop/categories}}
</section>

<section>
    <div class="container">
        {{>shop/feature-products/latest-products}}
        <div class="row">
            <a href="/products" class="btn btn-primary btn-round" role="button" style="float: right;">
                View All Products <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>

<section>
    <div class="jumbotron" id="about">
        <div class="container">
            <div class="text-center">
                <div class="row" id="about-row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>Welcome to Victoria's Secret Shop</h1>
                        <p>The very best in globally sourced premium goods. We offer free shipping, free returns and a secure shopping experience.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="/img/about/delivery.png" alt="Delivery">
                        <h4>Fast Delivery</h4>
                    </div>
                    <div class="col-sm-4">
                        <img src="/img/about/checkout.png" alt="Checkout">
                        <h4>Secure CheckOut</h4>
                    </div>
                    <div class="col-sm-4">
                        <img src="/img/about/shopping-return.png" alt="Returns">
                        <h4>Free Returns</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>