<div class="container">
    <h1>Dashboard</h1>
    <a href="/products/add" class="btn btn-primary btn-round">Add Product</a>
    <a href="/categories/add" class="btn btn-primary btn-round">Add Category</a>
</div>