{{#if user}}
    <div class="well well-sm">
        <div class="text-right">
            <a class="btn btn-info btn-green btn-round" id="open-review-box">Leave a Review</a>
        </div>

        <div class="row" id="post-review-box" style="display:none;">
            <div class="col-md-12">
                <form accept-charset="UTF-8" action="/reviews" method="post">
                    <input type="hidden" name="productId" value="{{product._id}}">
                    <input type="hidden" name="productSlug" value="{{product.slug}}">
                    <input id="ratings-hidden" name="rating" type="hidden">
                    <textarea class="form-control animated" cols="50" id="new-review" minlength="20" name="comment" placeholder="Enter your review here...(At least 20 characters)" rows="5"></textarea>

                    <div class="text-right">
                        <div class="stars starrr" data-rating="0"></div>
                        <a class="btn btn-danger btn-round" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
                            <span class="glyphicon glyphicon-remove"></span> Cancel</a>
                        <button class="btn btn-success btn-round" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{{else}}
    <a href="/login" class="btn btn-info btn-round" style="float: right">Add Your Review</a>
{{/if}}
