<div class="container">
    <div class="row">
        {{#each categories}}
            {{#unless ancestors}}
                <div class="col-sm-6 col-md-4">
                    <a href="/categories/{{this.slug}}">
                        <div class="thumbnail" id="#categories-thumbnail">
                            <img class="img-responsive" src="{{this.image}}" alt="{{this.name}}">
                            <div class="caption">
                                <div class="text-center">
                                    <h3>{{this.name}}</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {{/unless}}
        {{/each}}
    </div>
</div>