<div class="container">
    <div class="row">
        {{#each categories}}
            {{#unless ancestors}}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img class="img-responsive" src="{{this.image}}" alt="{{this.name}}">
                        <div class="caption">
                            <div class="text-center">
                                <h3>{{this.name}}</h3>
                                <p>
                                    <a href="#" class="btn btn-primary btn-round" role="button">Details <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {{/unless}}
        {{/each}}
    </div>
</div>