<div class="container">
    <div class="row">
        {{#each products}}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{this.images.[0]}}" alt="{{this.name}}">
                    <div class="caption">
                        <div class="text-center">
                            <h3>{{this.name}}</h3>
                            <p>
                                <a href="/products/{{this.slug}}" class="btn btn-primary" role="button">Details <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                <a href="#" class="btn btn-danger" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>