{{>bootstrap-tags}}

<div class="container">
    <h1>Add Product</h1>
        <form action="/products" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" name="name" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="sku">SKU:</label>
                        <input type="text" class="form-control" name="sku" id="sku" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea class="form-control" name="description" id="description" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="images">Image:</label>
                        <input type="file" class="form-control" name="images" id="images" required multiple>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="colors">Colors:</label>
                        <input type="text" data-role="tagsinput" name="colors" id="colors" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Pricing:</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" placeholder="Retail" class="form-control" name="retail" required>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" placeholder="Sale" class="form-control" name="sale" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="categories">Categories:</label>
                        <select name="categories" id="categories" class="form-control" multiple>
                            {{#each categories}}
                                <option>{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <p class="help-block">Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>

                    <div class="form-group">
                        <label for="colors">Tags:</label>
                        <input type="text" data-role="tagsinput" name="tags" id="colors">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <input type="submit" class="btn btn-primary btn-lg btn-round">
                </div>
            </div>
        </form>
</div>

<script src="/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('description');
</script>
